body {
  align-items: center;
  background: #e2e2e2;
  color: #ec994b;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  justify-content: space-between;
}
a {
  color: #001e6c;
  text-decoration: none;
  text-align: center;
}
button {
  background-color: #c9ccd5;
  border: 0px;
  border-radius: 0.5rem;
  box-shadow: #8a8888;
  color: #ec994b;
  padding: 0.6rem 0.6rem;
  width: 50%;
}
button:hover {
  background-color: #ec994b;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  // width: 60%;
}
form > input,
select {
  border: 0px;
  border-color: #fcd900;
  border-radius: 0.5rem;
  padding: 0.6rem 0.6rem;
  transition: border-color 1s;
}
form > input:focus {
  box-shadow: 0px 0px 10px #8a8888;
  outline: none;
}
footer {
  align-items: center;
  background-color: #c9ccd5;
  box-shadow: 0px -10px 13px 0px #8a8888;
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
  min-height: 8rem;
  overflow: hidden;
  width: 100vw;
}
footer > p {
  color: #001e6c;
}
i {
  color: #ec994b;
  font-size: 4rem;
}
h1 {
  color: #001e6c;
  padding-bottom: 3%;
}
h4 {
  color: #001e6c;
  margin: 0;
  text-align: center;
}
main {
  width: 100vw;
}
.containerIndex {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  margin: 0 auto;
  overflow-y: scroll;
  width: 100vw;
}
.header {
  align-items: center;
  background-color: #c9ccd5;
  box-shadow: 0px 10px 13px 0px #8a8888;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: center;
  width: 100vw;
}
.forgotRegister {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 10rem;
  width: 40%;
}
.forgotRegister > p {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.forgotRegister > p > a {
  padding-top: 1rem;
}
.forgotRegister > p > a:hover {
  color: #ffffff;
}
.headerLogo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list > a > i {
  overflow: hidden;
}
.list > a > i::after {
  content: "";
  background: #ec994b;
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  transform: translateX(-100%);
  transition: transform 0.3s;
  overflow: visible;
  margin-top: 0.25rem;
}
.list > a > i:hover {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.list > a > i:hover::after {
  background-color: #ec994b;
  transform: translateX(1%);
}
.socialMedia {
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: space-around;
  position: relative;
  width: 50%;
}
.socialMedia > i {
  font-size: 1rem;
  overflow: hidden;
}
.socialMedia > i::after {
  content: "";
  background: #ec994b;
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
  transition: transform 0.3s;
  overflow: visible;
  margin-top: 0.25rem;
}
.socialMedia > i:hover {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.socialMedia > i:hover::after {
  background-color: #ec994b;
  transform: translateX(1%);
}
